<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= actor.first_name %> <%= actor.last_name %>  </h1>
    <h4>Peliculas</h4>
    <ul>
        <% actor.peliculas.forEach(pelicula => { %>
            <li><%= pelicula.title %> </li>
        <% }) %>
    </ul>
    <h4>Pelicula Favorita: <a href="/peliculas/detalle/<%= actor.favorita.id %> "><%= actor.favorita.title %> </a> </h4>
</body>
</html>